* {
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    cursor: default;
}
.container {
    width: 1119px;
    margin: auto;
}
header {
    background-color: #fff;
    width: auto;
}
.heading-Sections{   /* Заголовки секций кроме main */
    font-size: 34px;
}

                                                                   /* Первая шапка */
.header-section1{
    font-size: 16;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);   /* Тень блока */
    height: 62px;
    display:  flex;
    align-items: center;
}
.h {
    display: flex;
    align-items: center;
    font-weight: 400;
}
.Zz {
    background-color: #FFA019;
    border-radius: 10px;
    border: 0;
    width: 184px;
    height: 37px;
    color: #fff;
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
}
.Zz:hover {
    background-color: #ee9519;
    cursor: pointer;
    border: 2px solid #FFA019;
}

                                                                   /* Вторая шапка */
.header-section2{
    font-size: 16;
    height: 62px;
    display:  flex;
    align-items: center;
}
.My-Giro{
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
}
.My-Giro:hover{
    font-weight: 900;
    color: #2c2c2c;
}
.links {
    margin-left: auto;
}
.link{
    font-size: 14px;
    color: #000;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 400;
}
.link:hover{
    font-weight: 600;
}

                                                                   /* Главная секция */

.Main-section {
    min-width: 1024px;
    height: 754px;
    background: url(/IMG/background.png) no-repeat center / cover;
}
.div-txt {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 277px;
    
}
.My-G {
    font-size: 56px;
    margin-bottom: 0;
    font-weight: 300;
}
.main-text-G {
    margin-top: 3px;
    font-weight: 300;
}
.catalog {
    background-color: #fff;
    width: 137px;
    height: 37px;
    border-radius: 10px;
    border:0;
    font-weight: 700;
    
}
.catalog:hover {
    background-color: #ebebeb;
    cursor: pointer;
}


                                                                    /* Преимущества */
.Section-Advantages{
    margin: 0 auto;
    padding: 0;
}
.nav-adv{
    padding-top: 95px;
}

.navigator{
    margin-left: auto;
}
.navigator-left:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.navigator-right:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.ul-avd {
    display: flex;
    align-items: center;
}
.column {
    list-style-type: none;
    margin-right: 143px;
    margin-top: 104px;
    font-weight: lighter;
}
.column1 {
    list-style-type: none;
    font-weight: lighter;
    
    margin-right: auto;
}
.block {
    font-size: 20px;
}
.nav-adv {
    display: flex;
    align-items: center;
}

                                                                    /* СЕКЦИЯ О НАС */


.Section-AboutUs{
    margin-top: 172px;
}                                                                    .pharagraph-AbU{
    margin-top: 30px;
    font-size: 20px;
}
.form {
    margin-top: 79px;
    background-color: #FFA019;
    font-size: 18px;
    font-weight: 500;
}
.form-div {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-text {
    color: #fff;
}
.textarea {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.input-form {
    background-color: transparent;
    width: 249px;
    height: 42px;
    margin-left: 30px;
    border: 1px solid #fff;
}
.subscribe {
    width: 249px;
    height: 42px;
    margin-left: 30px;
    background-color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: none;
}
.subscribe:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}
input::placeholder {
    color: rgb(253, 253, 253);
    padding-left: 17px;
}


                                                                    /* СЕКЦИЯ  */
.Section-Features {
    padding-top: 68px;
    margin-top: 0;
    font-size: 20px;
}
.ul-table{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 47px;
}
.table{
    display: flex;
    align-items: center;
    margin-left: 0;
}
.table-2{
    margin-left: auto;
}
.table-3{
    margin-left: auto;
}
.text-SF {
    margin-top: 37px;
    padding-bottom: 70px;
}

                                                                    /* СЕКЦИЯ  */
.Section-Catalog{
    background-color: #fbfbfb;
}
.div-catalog{
    display: flex;
    align-items: center;
}
.spisok-catalog{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
}
.navbar-catalog{
    margin-left: auto;
}
.filter-all{
    background-color: #FFA019;
    border-radius: 15px;
    padding: 5px 15px;
    color: #fff;
    text-align: center;
    align-items: center;
}
.filter {
    margin-left: 29px;
}
.filter:hover {
    cursor: pointer;
    font-weight: 500;
}
.filter-all:hover {
    cursor: pointer;
    font-weight: 500;
}
.Blocks-catalog{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 153px;
}
.block-c {
    width: 254px;
    height: 351px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
}

